@model CreateStaffViewModel

@{
    ViewBag.Title = "SignUp";
}

<style>
    body {
        background-color: lightblue;
    }

    .box-shadow-me {
        border: 3px solid lightblue;
        box-shadow: 0px 0px 15px red;
        background-color: white;
    }
</style>
<div class="row ">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-sm-4 mt-4 box-shadow-me card p-3">
            <h4 class="text-center text-primary mt-1"> Sign Up</h4>
            <p class="form-text text-center text-muted">We'll never share your details with anyone else.</p>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-form-label"></label>
                    <input asp-for="Email" class="form-control" aria-describedby="emailHelp" />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email/details with anyone else.</small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="col-form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="Gender" class="col-form-label"></label>
                            @Html.DropDownListFor(x => Model.Gender, new SelectList(ViewBag.Gender, "Value", "Text", "0"), htmlAttributes: new { @class = "form-control", id = "Gender" })
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label asp-for="Department" class="col-form-label"></label>
                            @Html.DropDownListFor(x => Model.Department, new SelectList(ViewBag.Department, "Value", "Text", "0"), htmlAttributes: new { @class = "form-control", id = "Department" })
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="State" class="col-form-label"></label>
                            @Html.DropDownListFor(x => Model.State, new SelectList(ViewBag.State, "Value", "Text", "0"), htmlAttributes: new { @class = "form-control", id = "State" })
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Lga" class="col-form-label"></label>
                            <select asp-for="Lga" asp-items="ViewBag.Lga" class="form-control" id="lga">
                                <option value="0">--Select LGA--</option>
                            </select>
                            <span asp-validation-for="Lga" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Password" class="col-form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Create Account</button>
                <div> <a asp-action="signin" class="btn-link">SignIn here?</a></div>
            </form>
            <hr />
            @*<div>
                    <h5>External Logins</h5>
                    @if (Model.ExternalLogins.Count == 0)
                    {
                        <div>No external logins configured</div>
                    }
                    else
                    {
                        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                            <div>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary btn-sm" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    }

                </div>*@
        </div>
    </div>
</div>

@*@section Scripts{
<script src="~/js/custom-script.js"></script>
}*@